.patientTable 
  table(id="myTable")
    thead
      tr 
        th Nombre 
        th Apellido 
        th DNI 
        th Celular 
        th Email 
        th Sexo 
        th Edad 
        th Contacto Particular 
    tbody 
      tr 
        td John 
        td Doe 
        td 12345678 
        td 2664000000 
        td johnDoe@gmail.com 
        td Hombre 
        td 29 
        td 2664000001 