table(id="myTable" class="table table-striped table-dark ") 
  thead 
    tr
      th(style="text-align: center; width: 10px;") #
      th(style="width: 100px;") Nombre
      th(style="width: 100px;") Apellido
      th(style="width: 100px;") DNI
      th(style="width: 130px;") Egreso
      th(style="width: 100px;") Contacto
      th(style="width: 300px;") eMail
      th(colspan="2") 
  tbody(id="tr_body")
  tfoot 
    tr 
      th(colspan="2") Filtrar por: 
      th(colspan="3") 
        label(for="filter") Pacientes dados de alta
        input(type="checkbox" name="filter" id="filter" value="is")
      th(colspan="2")  
        label(for="sinAdm") Pacientes sin admisiones
        input(type="checkbox" name="sinAdm" id="sinAdm")
      th(colspan="2")  
        label(for="pending") Turnos Programados
        input(type="checkbox" name="pending" id="pending")
template(id="my_template")
  tr
    td(style="width: 85px;")
      button.update Actualizar
    td(style="width: 85px;")
      button.delete Eliminar
