extends layout

block nav 
  nav.navbar
    a(href="http://www.google.com") Inicio
    a(href="http://www.google.com") Perfil
    a(href="http://www.google.com") Otros
  .logo 
    img(src="../public/images/logo_unimed.png" alt="logo_unimed" width="50px" height="50px")
    h1 UniMed

block main 
  .login 
    form()
      //- Nombre de Usuario
      .input
        label(for="user") Nombre de Usuario
        input(type="text" id="user" name="user" autocomplete="off" spellcheck="false" value="")
        span(id="userHelp").ayuda Solo letras
      //- Contrase単a
      .input
        label(for="pass") Contrase単a
        input(type="password" id="pass" name="pass" value="")
        span Mostrar Contrase単a  
          input(type="checkbox" name="" value="" id="look")
        span(id="passHelp").ayuda Minimo 8 caracteres
      //- Boton Enviar
      .btn
        input(type="submit")
      span.error Error: Nombre de usuario y/o contrase単a incorrecta.

block footer
  .footer 
    p &copy; 2025 MiSitioWeb