extends layout

block main_center
  .login 
    form(action="http://localhost:8000/" name="GET")
      //- Nombre de Usuario
      .input
        label(for="user") Nombre de Usuario
        input(type="text" id="user" name="user" autocomplete="off" spellcheck="false" value="")
        span(id="userHelp").ayuda
      //- Contrase単a
      .input
        label(for="pass") Contrase単a
        input(type="password" id="pass" name="pass" value="")
        span(id="passHelp").ayuda
        .input_check
          label(for="look") Mostrar Contrase単a 
          input(type="checkbox" name="look" value="" id="look")
      //- Boton Enviar
      .buttons
        button Enviar
      span.error Error: Nombre de usuario y/o contrase単a incorrecta.