extends layout 

block header
  include ./components/search.pug 
block left_main
  #l_main.left_main 
block main_center
  #main.main_center
    include ./components/table.pug
block main_right
  #main_r.main_right
block footer 