extends layout

block nav
  nav.navbar
    a(href="http://www.google.com") Inicio
    a(href="http://www.google.com") Perfil
    a(href="http://www.google.com") Otros 

block main
  .cont
    include ./components/patient.form.pug 

block footer 