extends layout

block header
  .search_patient
    label(for="search") Busqueda 
    input(type="text" id="search" autocomplete="off" spellcheck="false" value="" placeholder="Ingrese DNI" maxlength="8")
    //- ELIMINAR
    button(id="tester") tester 
block left_main
  #l_main.left_main 
    include ./components/admission.register.pug 
block main_right
  #main_r.main_right
    include ./components/patient.register.pug 

block footer 