form {
  display: flex;
  flex-direction: row;
  padding: 0px 15px;
  margin: 0px;
  height: 100%;
  gap: 30px;
}

.search_patient {
  color: rgba(255, 255, 255, 1);
  gap: 10px;
  width: 100%;
  display: flex;
  font-size: 17pt;
  align-items: center;
  justify-content: center;

  input {
    color: inherit;
    width: 125px;
    outline: none;
    text-align: center;
    transition: all 1s;
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: rgba(255, 255, 255, 1);
  }

  input:focus,
  input:hover {
    transition: all 1s;
    border-color: rgb(255, 238, 0);
    background-color: inherit;
  }
}

.search_patient button {
  color: rgb(255, 238, 0);
  margin: 0px;
  padding: 0px;
  font-size: 17pt;
  transition: all 1s;
  background: transparent;
}

.search_patient button:hover {
  color: rgb(255, 238, 0);
  transition: all 1s;
  background: transparent;
}

.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: auto;
  font-size: 14pt;
}

button {
  background-color: rgba(0, 26, 255, 0.8);
  border-radius: 20px;
  transition: all 0.5s;
  margin-top: 10px;
  border: none;
  height: 35px;
  width: 200px;
  color: rgba(255, 255, 255, 0.7);
}

button:hover {
  background-color: rgba(0, 26, 255, 1);
  border-radius: 20px;
  transition: all 0.5s;
  color: rgba(255, 255, 255, 0.9);
}

.emergency_button {
  display: flex;
  position: absolute;
  bottom: 15px;
  right: 20px;
  top: 15px;
  gap: 20px;

  #emergency {
    background-color: rgba(255, 0, 0, 0.5);
    border-radius: 50%;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    height: 40px;
    width: 40px;
    color: rgba(255, 255, 255, 0.5);
  }

  #emergency:hover {
    background-color: rgba(255, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    scale: 1.5;
  }
  
  #new_patient {
    background-color: rgba(0, 153, 255, 0.5);
    border-radius: 5px;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    height: 40px;
    width: 200px;
    color: rgba(255, 255, 255, 0.5);
  }
  #new_patient:hover {
    background-color: rgba(0, 153, 255, 1);
    color: rgba(255, 255, 255, 1);
  }
}