form {
  display: flex;
  flex-direction: row;
  padding: 0px 15px;
  margin: 0px;
  height: 100%;
  gap: 30px;
}

.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: auto;
  font-size: 14pt;
}

.right_shift {
  transition: width .5s;
  overflow: hidden;
  width: 82%;
}

.left_shift {
  transition: width .5s;
  overflow: hidden;
  width: 66%;
}

/* Admission Register */
.left_main {
  display: none;
  overflow: hidden;
  transition: opacity .5s;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  position: absolute;
  opacity: 0;
  height: 95%;
  width: 18%;
  left: 5px;
}

.look_left {
  transition: opacity .5s;
  opacity: 1;
}

/* Patient Register */
.main_right {
  display: none;
  overflow: hidden;
  transition: opacity .5s;
  flex-direction: column;
  justify-content: start;
  align-items: end;
  position: absolute;
  opacity: 0;
  height: 95%;
  width: 34%;
  right: 5px;
}

.look_right {
  transition: opacity .5s;
  opacity: 1;
}