body {
  /* Fijar Footer */
  display: grid;
  width: 100%;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;

  /* Establecer Imag. Como Fondo */
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
  ), url(../images/ramon_carrillo.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* Otras Espesificaciones */
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

header {
  display: flex;
  position: relative;
  flex-direction: row;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.7);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16pt;
  color: rgba(255, 255, 255, 0.5);
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  justify-content: start;
  align-items: center;
  box-sizing: border-box;
  height: 50px;
  margin: 0px;
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0.7);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  color: rgba(255, 255, 255, 0.5);
}

h1 {
  padding: 4px 0px 0px 0px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}
header a:hover {
  color: white;
}

.logo {
  display: inherit;
  flex-direction: inherit;
  position: absolute;
  right: 0px;
  align-items: center;
  gap: 5px;
  padding: 10px 15px;
  font-size: initial;
  color: rgb(63, 82, 252);
}

.navbar {
  display: inherit;
  flex-direction: inherit;
  justify-content: start;
  align-items: center;
  gap: 50px;
  padding: 10px 15px;
}

.input {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.input label {
  text-align: start;
  font-size: 14pt;
}

.input input {
  font-size: 18pt;
  margin: 3px 0px;
  border: none;
  background-color: rgba(126, 126, 126, 0.4);
  color: rgba(255, 255, 255, 0.7);
}
.input input:hover {
  background-color: rgba(126, 126, 126, 0.7);
}