.login {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  border-radius: 20px;
  margin-bottom: 100px;
  align-items: center;
  position: absolute;
  height: auto;
  width: 260px;
  color: rgba(255, 255, 255, 0.7);
}

.login form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  padding: 15px;
  margin: 15px;
  gap: 30px;
}

button {
  background-color: rgba(255, 230, 0, 0.4);
  border-radius: 20px;
  transition: all 1s;
  border: none;
  height: 35px;
  width: 100px;
  color: rgba(255, 255, 255, 0.7);
}
button:hover {
  background-color: rgba(255, 230, 0, 0.7);
  border-radius: 20px;
  transition: all 1s;
  color: rgba(255, 255, 255, 0.9);
}

#look {
  margin-top: 5px;
  padding: 0px;
}

.error {
  color: rgb(255, 0, 0);
  display: none;
  font-size: 12pt;
  text-align: center;
}

.ayuda {
  color: rgb(255, 230, 0);
  display: none;
  font-size: 10pt;
}