.cont {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  position: relative;
  height: 90%;
  width: auto;
  color: rgba(0, 0, 0, 0.7);
}

.patientSearch { 
  display: flex;
  flex-direction: column; 
}

.patientTable {
  display: flex;
  flex-direction: column;
  margin: 10px;
  height: 90% !important;
}

.formPatient {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  position: absolute;
  right: 0px;
  width: auto;
  height: 90%;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(0, 0, 0, 0.7);
  font-family: Arial, Helvetica, sans-serif;
}

form {
  display: flex;
  flex-direction: row;
  padding: 15px;
  margin: 0px;
  gap: 30px;
}

table {
  width: 780px;
  height: auto;
  padding: 10px;
}

.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 331px;
  width: 200px;
  /* gap: 30px; */
}

#register {
  width: 200px;
  height: 34px;
  font-size: 18pt;
  margin: 23px auto 0px auto;
  border: none;
  background-color: rgba(0, 110, 255, 0.4);
  color: rgba(255, 255, 255, 0.7);
}
#register:hover {
  background-color: rgba(0, 26, 255, 0.7);
  color: rgba(255, 255, 255, 0.9);
}