.the_main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  align-items: center;
  position: relative;
  height: 95%;
  width: 95%;
  gap: 30px;
}

.main_center {
  display: block;
  background-color: rgb(21, 25, 29);
  border-radius: 5px;
  transition: width .5s;
  overflow: auto;
  position: absolute;
  padding: 5px;
  border: solid;
  height: 95%;
  width: 98%;
}

.main_center::-webkit-scrollbar {
  background-color: transparent;
  width: 12px;
  height: 20px;
}

.main_center::-webkit-scrollbar-track {
  background-color: rgba(21, 25, 29, 0.63);
}

.main_center::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
}

td button {
  width: auto;
  height: auto;
  padding: 2px 10px;
  transition: opacity .5s;
  opacity: 1;
  margin: 0px;
}

.update {
  background-color: rgba(17, 155, 17, 0.5);
}

.update:hover {
  background-color: rgba(17, 155, 17, 1);
}

.delete {
  background-color: rgba(155, 33, 17, 0.5);
}

.delete:hover {
  background-color: rgba(155, 33, 17, 1);
}

.cancel {
  background-color: rgba(255, 230, 0, 0.5);
}

.cancel:hover {
  background-color: rgba(255, 230, 0, 0.8);
}

.hidden_button {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s;
}

tbody .tr {
  opacity: 0.2 !important;
}

tbody .tr:hover {
  opacity: 0.8 !important;
  transition: opacity 0.5s !important;
}

.hidden_tr {
  opacity: 0 !important;
  transition: opacity 1s !important;
}

thead {
  position: sticky !important;
  top: -5px;
}

tfoot {
  background-color: rgb(21, 25, 29);
  box-sizing: border-box;
  font-size: 12pt;
  position: sticky;
  bottom: -10px;

  label {
    padding: 0px 10px;
  }

  input {
    height: auto;
    width: auto;
  }
}